.card {
    position: relative;
    background-color: #fff;
    width: 25vw;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    height: 50vh;
    box-shadow: 0 18px 53px 0 rgba(0,0,0,0.3);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 800px) {
    .card {
        width: 50vh;
    }
}
.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.swipe {
    position: absolute;
}

.cardContent{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color:#ffffff;
    background-color: rgba(0,0,0,0.1);
}